@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --animate-fade-in: fade-in 1s ease-in forwards;
}

@layer base {
  /* Light Theme */
  :root {
    --background: #f8f8ff; /* Ghost White */
    --foreground: #080808; /* Vampire Black */
    

    --primary: #0A6A56; /* Bangladesh Green */
    --secondary: #A82B11; /* Rufous */
  }

  /* Dark Theme */
  .dark {
    --background: #080808; /* Vampire Black */
    --foreground: #f8f8ff; /* Ghost White */

    --primary: #0A6A56; /* Bangladesh Green */
    --secondary: #A82B11; /* Rufous */
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@utility root-page-element {
  @apply min-h-screen flex flex-col items-center justify-center;
}

@utility glassmorphism {
  @apply bg-background/10 backdrop-blur-lg
}